<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile</title>

  <link rel="stylesheet" th:href="@{/css/all.min.css}" />
  <link rel="stylesheet" th:href="@{/css/framework.css}" />
  <link rel="stylesheet" th:href="@{/css/master.css}" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap" rel="stylesheet" />

  <style>
    /* fallback */
    @font-face {
      font-family: 'Material Symbols Outlined';
      font-style: normal;
      font-weight: 100 700;
      src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v215/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
    }

    .material-symbols-outlined {
      font-family: 'Material Symbols Outlined';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
    }
    .pagination-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
  </style>
</head>
<body>
<div class="page d-flex">
  <div th:replace="admin/sidebar :: sidebar"></div>
  <div class="content w-full">
    <h1 class="p-relative">Profile of <span th:text="${user.userName}"></span></h1>
    <div class="profile-page m-20">
      <!-- Start Overview -->
      <div class="overview bg-white rad-10 d-flex align-center">
        <div class="avatar-box txt-c p-20">
          <img class="rad-half mb-10" th:src="${user.avatar}" alt="" />
          <h3 class="m-0" th:text="${user.userName}"></h3>
          <p class="c-grey mt-10" th:text="${user.role}"></p>
          <div class="level rad-6 bg-eee p-relative">
            <span style="width: 70%"></span>
          </div>
          <div class="rating mt-10 mb-10">
            <i class="fa-solid fa-star c-orange fs-13"></i>
            <i class="fa-solid fa-star c-orange fs-13"></i>
            <i class="fa-solid fa-star c-orange fs-13"></i>
            <i class="fa-solid fa-star c-orange fs-13"></i>
            <i class="fa-solid fa-star c-orange fs-13"></i>
          </div>
          <p class="c-grey m-0 fs-13">
            <!--            <script type="text/javascript">-->
            <!--              function checkBanStatus(timeBan) {-->
            <!--                if (timeBan == null) {-->
            <!--                  return '<span class="label btn-shape bg-green c-white">Active</span>';-->
            <!--                } else {-->
            <!--                  var currentTime = new Date();-->
            <!--                  var banTime = new Date(timeBan);-->
            <!--                  if (banTime > currentTime) {-->
            <!--                    return '<span class="label btn-shape bg-red c-white">Ban</span>';-->
            <!--                  } else {-->
            <!--                    return '<span class="label btn-shape bg-green c-white">Active</span>';-->
            <!--                  }-->
            <!--                }-->
            <!--              }-->
            <!--              // document.write(checkBanStatus([[${user.timeBan}]]));-->
            <!--            </script>-->
          </p>
        </div>
        <div class="info-box w-full txt-c-mobile">
          <!-- Start Information Row -->
          <div class="box p-20 d-flex align-center">
            <h4 class="c-grey fs-15 m-0 w-full">General Information</h4>
            <div class="fs-14">
              <span class="c-grey">Full Name</span>
              <span th:text="${user.userName}"></span>
            </div>
            <div class="fs-14">
              <span class="c-grey">Gender:</span>
              <span th:text="${user.gender}"></span>
            </div>
            <div class="fs-14">
              <span class="c-grey">Country:</span>
              <span th:text="${user.address}"></span>
            </div>
          </div>
          <!-- End Information Row -->
          <!-- Start Information Row -->
          <div class="box p-20 d-flex align-center">
            <h4 class="c-grey w-full fs-15 m-0">Personal Information</h4>
            <div class="fs-14">
              <span class="c-grey">Email:</span>
              <span th:text="${user.email}"></span>
            </div>
            <div class="fs-14">
              <span class="c-grey">Phone:</span>
              <span th:text="${user.phone}"></span>
            </div>
            <div class="fs-14">
              <span class="c-grey">Date Of Birth:</span>
              <span th:text="${user.dob}"></span>
            </div>
          </div>
          <!-- End Information Row -->
          <!-- Start Information Row -->
          <div class="box p-20 d-flex align-center">
            <h4 class="c-grey w-full fs-15 m-0">Job Information</h4>
            <div class="fs-14">
              <span class="c-grey">Wallet:</span>
              <span th:text="${user.wallet}"></span>
            </div>
            <div class="fs-14">
              <span class="c-grey">Driving License:</span>
              <!-- Hiển thị Driving License từ biến user với Thymeleaf -->
              <span><a target="_blank" th:href="@{${user.drivingLicense}}" th:text="${user.drivingLicense}"></a></span>
            </div>

          </div>


          <form th:action="@{/admin/userdeltail}" method="post">
            <div class="box p-20 d-flex align-center">
              <h4 class="c-grey w-full fs-15 m-0">Update Role of Name: <span th:text="${user.userName}"></span></h4>
              <input type="hidden" th:value="${user.userID}" name="ID">

              <div class="fs-14">
                <span class="c-grey">Role:</span>
                <select name="userRole">
                  <option value="CUSTOMER" th:selected="${user.role == 'CUSTOMER'}">CUSTOMER</option>
                  <option value="CAR_OWNER" th:selected="${user.role == 'CAR_OWNER'}">CAR_OWNER</option>
                  <option value="ADMIN" th:selected="${user.role == 'ADMIN'}">ADMIN</option>
                </select>
              </div>

              <div class="fs-14">
                <button class="label btn-shape bg-green c-white" type="submit">Save</button>
              </div>
            </div>
          </form>

          <form action="/admin/ban"  method="post">
            <div class="box p-20 d-flex align-center">
              <h4 class="c-grey w-full fs-15 m-0">Restrict user: <span th:text="${user.userID}"></span></h4>
              <input type="hidden" th:value="${user.userID}" name="ID">

              <div class="fs-14">
                <span class="c-grey">Reason:</span>
                <input type="text" name="reasonBan" th:value="${user.reason}" />
              </div>

              <div class="fs-14">
                <span class="c-grey">Time:</span>
                <input type="date" name="timeBan" th:value="${user.timeBan}" />
              </div>

              <div class="fs-14">
                <button class="label btn-shape bg-green c-white" type="submit">Save</button>
              </div>
            </div>
          </form>


        </div>
      </div>
      <!-- End Overview -->
    </div>
  </div>
</div>
</body>
</html>
